.skills-content {
	text-align: center;
	margin: 10% 20%;
	min-width: 100vh;
}

.skill-icons {
	display: flex;
	padding-top: 10%;
	/* flex-wrap: wrap; */
}

.skill-logo {
	width: 15vh;
	padding-left: 20%;
}