.about {
	padding: 10% 3%;

	animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

.about-me {
	font-family: 'Mali', cursive, 'Rubik Vinyl';
}

.about-text {
	font-family: 'Mali', cursive;
	/* font-weight: 600; */
}

.quote {
	color: #949494;
	font-size: 1.2rem;
	font-style: italic;
	text-align: center;
}

@media screen and (max-width: 650px) {
	.about {
		padding-top: 15%;
	}
	.about-me {
		text-align: center;
	}
	.text p {
		font-size: 1rem;
	} 

	.header h1,
	.text h2 {
		font-size: 1.5rem
	}

	.quote {
		font-size: 1rem;
		/* max-width: 300px; */
	}
}