html {
	/* box-sizing: border-box; */
	scroll-behaviour: smooth;
}

body {
	width: 100%;
}

.general {
	transition: 1s ease;
}

.small-screen {
	display: none;
}

.copy-right {
	margin: 0;
	text-align: center;
}

@media screen and (max-width:768px) {
	html {
		box-sizing: border-box;
		scroll-behaviour: smooth;
	}

	.big-screen {
		/* display: none; */
	}

	.small-screen {
		display: block;
	}
}